<hr id="footer_hr">
<div  id="footer"class="row">
	<footer  class="col-xs-6 col-xs-offset-3">
		<span  id="footer_branding"><img id="footer_branding-image" class="img-responsive hidden-xs" src="{{url_for('static', filename='images/logo/generic-globe-vector-logo.jpg')}}"></span><br/>
	</footer>
	<footer class="col-xs-12 text-center">
		<span id="footer_slogan">Slogan</span><br/>
		<span id="footer_info">Additional Info</span><br/>
		<span id="footer_copyright"> &copy; Copyrights and Trademarks &trade;</span>
	</footer>
</div>