<div class="col-xs-12 listItem">
<hr/>
	<span class="listItem_distance">Distance</span> | <span class="listItem_date">{{event.event_time.strftime('%Y-%m-%d')}}</span> | <span class="listItem_time">{{event.event_time.strftime('%I:%M %p')}} {{event.timezone}}</span>
	<a href='{{url_for('''readEvent''', event_id = event.id)}}'><h3 class="listItem_title">{{event.title}}</h3>
	<span class="listItem_subtitle">{{event.event_type}}</span></a>
	<p id="event" class="listItem_description">
	
		{{event.description|safe}}
	
	</p>
	<button class="listItem_rsvp pull-right">rsvp</button>
</div>
